<section flex class="home-view" layout="row" layout-wrap layout-align="space-between">
  <md-card flex="100">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Notifications</span>
      </md-card-title-text>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content class="notification-content">
      <md-button class="notification-button" layout="row" layout-align="space-between center">
        <div layout="column" layout-align="start start" flex>
          <h3 class="md-title">Evaluation</h3>
          <h4 class="md-subhead">Une personne requiert votre attention sur un sujet.</h4>
        </div>
        <md-icon>chevron_right</md-icon>
      </md-button>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="end">
      <md-button>
        <md-icon>notifications</md-icon>
        <span>3 autres notifications</span>
      </md-button>
      <md-button class="md-icon-button">
        <md-icon>done_all</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
  <div flex="50">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">GHRSkills Smart</span>
        </md-card-title-text>
      </md-card-title>
      <img src="poc-ghrskills-app/images/logo-work.jpg" />
      <md-card-actions layout="row" layout-align="end">
        <md-button class="md-primary md-raised">
          <span>Accéder</span>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex="50">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Mon service RH</span>
        </md-card-title-text>
      </md-card-title>
      <img src="poc-ghrskills-app/images/mon-service-rh.png" />
      <md-card-actions layout="row" layout-align="end">
        <md-button class="md-primary md-raised">
          <span>Accéder</span>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</section>